.btn {
    position: relative;
}

.btn-primary,
.btn-check:focus + .btn-primary,
.btn-primary:focus {
    background-color: var(--color-teal);
    border-color: var(--color-teal);

    &:hover {
        background-color: var(--color-darkteal);
        border-color: var(--color-darkteal);
    }
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
    box-shadow: none;
}

.btn-primary.disabled,
.btn-primary:disabled {
    background-color: var(--color-darkteal);
}

.btn-shadow {
    box-shadow: 3px 3px 10px rgba(black, 0.5);
}