section {
    padding: 3rem 0;

    @include bp(md-min) {
        padding: 6rem 0;
    }
}

.section-shadow {
    box-shadow: 0 0 30px rgba(black, 0.5);
}


img {
    max-width: 100%;
}

.bg-cream {
    background-color: var(--color-cream);
    position: relative;
    z-index: 1000;
}

.bg-teal {
    background-color: var(--color-teal);
    position: relative;
    z-index: 1000;
}

.bg-rounded {
    border-radius: 30px;

    @include bp(md-min) {
        border-radius: 100px;
    }
}

a:hover i {
    color: var(--color-darkteal) !important;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: var(--color-cream);
}
