:root {
    --color-cream: #FFFBC9;
    --color-darkestblue: #090a0f;
    --color-darkblue: #1b2735;
    --color-teal: #379362;
    --color-darkteal: #246140;
    --font-family-heading: 'Poppins', sans-serif;
    --font-family-body: 'Lato', sans-serif;
}